@white: #FFF;
@basic_green: #68B738;
@basic_green-2: #5EAA2F;
@basic_grey: #F2F2F2;
@basic_grey-2: #EBEBEB;
@special_grey: #CDCDCD;
@special_grey-2: #666666;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@status_error: #FF8282;

@shadow_normal: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
@shadow_hover: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
@shadow_pressed: 0px 3px 5px 0px rgba(0, 0, 0, 0.20);

